.projects_wraper {
  max-width: 510px;
  display: flex;
  gap: 30px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

.btn {
  background-color: rgb(195, 214, 214);
  border: none;
  padding: 10px 62px;
  white-space: nowrap;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}
