.name_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  align-items: center;
  /* justify-content: center; */
}

.name {
  font-size: 54px;
  font-weight: 500;
  color: #abafd0;
  text-transform: uppercase;
  z-index: 10;
  margin-top: 250px;
}

.activeName::after {
  content: "|";
  padding: 0 1px;
  animation: cursorLine 1s infinite;
}

@keyframes cursorLine {
  50% {
    color: #000;
  }
}

.profession {
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  z-index: 10;
}

.bacground_icon {
  width: 250px;
  position: absolute;
  top: 20px;
  animation: flight 2s infinite;
  z-index: 15;
}

@keyframes flight {
  50% {
    top: 10px;
  }
  100% {
    top: 20px;
  }
}
