.main_wraper {
  max-width: 1200px;
  margin: auto;
}

.about_me {
  padding: 0px 10px;
  max-width: 560px;
  margin: auto;
  margin-top: 60px;
}

.about_me_title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  opacity: 0;
  margin-left: 250px;
}

.about_me_content {
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  margin-left: 250px;
}

.my_content_skill {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 15px;
  width: 150px;
}
.my_skils {
  max-width: 560px;
  margin: auto;
  margin-top: 60px;
  padding: 0px 10px;
}

.my_skills_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.my_skills_title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.project_card_wrapper {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: 0px 10px;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin-top: 102px;
}
